@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

html,
body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* 滑卡時避免整頁被拖動 */
body {
  overscroll-behavior: none;
}
